<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>

    <category label="Account Settings">
     <setting label="Account" type="lsep" />
	 <setting id="username" type="text" label="Username" default=""/>
     <setting id="password" type="text" option="hidden" label="Password" default=""/>

	 </category>
<category label="Addon Settings">
	 <setting label="Addon Settings" type="lsep" />
     <setting id="show_categories" type="bool" default="true" visible="true" label="Show Categories"/>
	 <setting label="Server Select" type= "action" action="RunPlugin(plugin://$ID/serverSetup)" option="close" />
    <setting id="stream_format" type="enum" label="Stream Format" enable="true" lvalues="70001|70002" default="0" />
    <setting id="lastAdded" type="string" label="Last VOD Add" visible="false" enable="true" default="0" />
    <setting id="vodVersion" type="string" label="vodVersion" visible="false" enable="true" default="1.0" />
    <setting id="initialCategorySelected" type="bool" label="initialCategorySelected" visible="false" enable="true" default="False" />


</category>


    <category label = "MatchCenter">
        <setting id="mc_timezone_enable" type="bool" label="Enable MatchCenter/EPG Offset" default="false"/>
		<setting id="current_tz" type="string" label="Current TZ" default="None" visible='false'/>

        <setting id="mc_timezone" type="slider" label="MatchCenter/EPG" range="-12,0.25,12" default="0" option="float" visible="eq(-1,true)"/>/>
        <setting id="mc_backward" type="slider" label="50002" range="-12,0.25,12" default="6" option="float" visible='true'/>/>
        <setting id="mc_forward" type="slider" label="50003" range="-12,0.25,12" default="12" option="float" visible='true'/>/>
        <setting id="mc_quittimer" type="number" label="Quit Timer"  default="7" visible='true'/>/>

    </category>
    <!-- General -->
        <category label = "VOD Settings">
                <setting id="enable_kodi_library" type="bool" label="Import VOD into Kodi" default="true" enable="true"/>
                <setting id="enable_filesource" type="bool" label="Auto Add File Source" default="true" enable="true"/>
                <setting id="enable_adult" type="bool" visible="false"  label="Show Adult Content" default="false" enable="true"/>

         </category>

            <category label = "Catchup Settings">
                 <setting id="group_by_name" type="bool"  label="Group Shows by Name" default="False" enable="true"/>
                <setting id="catchup_length" type="number"  label="Catchup Length (max 6)" default="6" enable="true"/>

         </category>


    <category label = "EPG Settings">
        <setting id="pluginmissing" type="bool" default="false" visible="false"/>
        <setting label="33003" type="lsep" visible="eq(-1,true)"/>
        <setting id="mergem3u" type="bool" label="33005" default="false"/>
        <setting id="mergem3u_fn" type="file" label="33006" default="" visible="eq(-1,true)"/>

        <setting id="debug" type="bool" label="32100" default="false"/>
        <!--<setting id="offset1hr" type="bool" label="32101" default="false" visible="false"/>-->

        <setting id="sort_alpha" type="bool" label="Sort Channels Alphabetically" default="false" enable="true"/>
        <setting id="enable_pvr" type="bool" label="Enable PVR Integration" default="true" enable="true"/>

        <setting id="schedule_interval" type="enum" label="30061" lvalues="30079|30072|30073|30074|30075" default="1" enable="eq(-1,true)" visible="false"/>
        <setting id="schedule_time" type="labelenum" label="30062" values="00:00|01:00|02:00|03:00|04:00|05:00|06:00|07:00|08:00|09:00|10:00|11:00|12:00|13:00|14:00|15:00|16:00|17:00|18:00|19:00|20:00|21:00|22:00|23:00" default="02:00" visible="false"  enable="eq(-2,true)" />
        <setting id="day_of_week" type="enum" label="30063" lvalues="30065|30066|30067|30068|30069|30070|30071" default="0" visible="eq(-2,2)"  enable="eq(-3,true)" />
        <setting id="cron_schedule" type="text" label="30064" default="0 0 * * *" visible="false"  enable="eq(-4,true)" />


      </category>
     <category label = "EPG Groups">
		 <setting id="Canada" value="True" visible="False" default="True"/>
		 <setting id="United States" value="True" visible="False" default="True"/>
		 <setting id="United Kingdom" value="True" visible="False" default="True"/>
		 <setting id="Sports" value="True" visible="False" default="True"/>
		 <setting id="Premium Movies" value="True" visible="False" default="True"/>
		 <setting id="categorySetupLastOpen" type="text"  visible="False" default="0"/>
		 <setting id="categorySetupLastSet" type="text"  visible="False" default="0"/>

         <setting label="Configure EPG Groups" type= "action" action="RunPlugin(plugin://$ID/categorySetup)" option="close" />
		<setting default="true" id="allow_universal" label="" type="bool" visible="false"/>
		<setting default="true" id="auto_pick" label="" type="bool" visible="false"/>
		<setting default="true" id="use_cache" label="" type="bool" visible="false"/>
		<setting id="NineXplayResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="NineXplayResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="AliezResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="AliezResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="AllVidResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="AllVidResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="AniStreamResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="AniStreamResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="AnimePortalResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="AnimePortalResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="AnyFilesResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="AnyFilesResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="ApnaSaveResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="ApnaSaveResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="SpeedVidResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="SpeedVidResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="BlazefileResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="BlazefileResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="CastampResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="CastampResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="CdaResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="CdaResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="ClickNUploadResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="ClickNUploadResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MailRuResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MailRuResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="CloudyResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="CloudyResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="DaclipsResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="DaclipsResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="DailymotionResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="DailymotionResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="DatoPornResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="DatoPornResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="DivxstageResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="DivxstageResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="DownaceResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="DownaceResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="EcostreamResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="EcostreamResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="EnterVideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="EnterVideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="EstreamResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="EstreamResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="WatchpassResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="WatchpassResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="ExashareResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="ExashareResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="FacebookResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="FacebookResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="FastplayResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="FastplayResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="FilePupResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="FilePupResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="FileWeedResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="FileWeedResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="FilezResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="FilezResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="FlashxResolver_etag" type="text" default="" visible="false"/>
		<setting id="GenericResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="GenericResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="GoodVideoHostResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="GoodVideoHostResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="GoogleResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="GoogleResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="GorillavidResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="GorillavidResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="GrifthostResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="GrifthostResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="HugefilesResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="HugefilesResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="IndavideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="IndavideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="JetloadResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="JetloadResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="KingFilesResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="KingFilesResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="KingvidResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="KingvidResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MailRuResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MailRuResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MegaMP4Resolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MegaMP4Resolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MersalaResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MersalaResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MovDivxResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MovDivxResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MovpodResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MovpodResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MovshareResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MovshareResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="Mp4EngineResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="Mp4EngineResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="Mp4streamResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="Mp4streamResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="Mp4uploadResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="Mp4uploadResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MystreamResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MystreamResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="myVidStream_priority" type="number" label="" visible="false" default="100"/>
		<setting id="myVidStream_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="MyviRuResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="MyviRuResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="NosvideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="NosvideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="NovamovResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="NovamovResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="NowvideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="NowvideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="OKResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="OKResolver_enabled" type="bool" label="" visible="false" default="true"/>
        <setting id="Play44Resolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="Play44Resolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="PlayedtoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="PlayedtoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="PlayHDResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="PlayHDResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="PlayWireResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="PlayWireResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="PromptfileResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="PromptfileResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="PutLoadResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="PutLoadResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="RapidVideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="RapidVideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="RapidVideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="RapidVideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="RuTubeResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="RuTubeResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="SapoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="SapoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="SpeedPlayResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="SpeedPlayResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="SpeedVidResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="SpeedVidResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="SpeedVideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="SpeedVideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="SprutoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="SprutoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="StagevuResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="StagevuResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="StreamableResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="StreamableResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="StreamangoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="StreamangoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="StreamcloudResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="StreamcloudResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="StreameResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="StreameResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="StreamintoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="StreamintoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="StreamMoeResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="StreamMoeResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="StreamplayResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="StreamplayResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TeramixerResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TeramixerResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TheVidResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TheVidResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TheVideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TheVideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideoBeeResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideoBeeResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TheVideosResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TheVideosResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="Toltsd_felResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="Toltsd_felResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TrollVidResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TrollVidResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="trtResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="trtResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TudouResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TudouResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TunePkResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TunePkResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TusfilesResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TusfilesResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TwitchResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="TwitchResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="TwitchResolver_client_id" type="text" visible="false" label="" default="am6l6dn0x3bxrdgc557p1qeg1ma3bto"/>
		<setting id="UploadAfResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="UploadAfResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="UploadXResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="UploadXResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="UploadzResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="UploadzResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="UpToBoxResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="UpToBoxResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="UsersCloudResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="UsersCloudResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="UsersFilesResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="UsersFilesResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="UstreamResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="UstreamResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VeohResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VeohResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidMeResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidMeResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidabcResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidabcResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidCrazyResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidCrazyResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideaResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideaResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideocloudResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideocloudResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideogetResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideogetResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideoHutResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideoHutResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideoRajResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideoRajResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideoweedResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideoweedResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideowoodResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideowoodResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VideoZooResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VideoZooResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidFileResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidFileResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="vidhosResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="vidhosResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidloxResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidloxResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidMadResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidMadResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidtoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidtoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidToDoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidToDoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidUpMeResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidUpMeResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidUpResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidUpResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidwatchResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidwatchResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VidziResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VidziResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VimeoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VimeoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VivosxResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VivosxResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VKResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VKResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VodLockResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VodLockResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VshareResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VshareResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="VshareEuResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="VshareEuResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="WatchersResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="WatchersResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="WatchonlineResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="WatchonlineResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="WatchVideoResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="WatchVideoResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="WeShareResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="WeShareResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="XvidstageResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="XvidstageResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="YourUploadResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="YourUploadResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="YoutubeResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="YoutubeResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="YouWatchResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="YouWatchResolver_enabled" type="bool" label="" visible="false" default="true"/>
		<setting id="ZstreamResolver_priority" type="number" label="" visible="false" default="100"/>
		<setting id="ZstreamResolver_enabled" type="bool" label="" visible="false" default="true"/>
	    <setting id="speedwatchResolver_enabled" value="true" />
		<setting id="speedwatchResolver_priority" value="100" />
		<setting id="tvlogyResolver_enabled" value="true" />
		<setting id="tvlogyResolver_priority" value="100" />
    </category>
</settings>
